[submodule "submodules/gdb-dashboard"]
	path = submodules/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
