[alias]
	st = status
	exec = "!exec "
[color]
	ui = auto
[core]
    quotepath = false
[credential]
	helper = cache
[grep]
	lineNumber = true
	extendedRegexp = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[push]
	default = current
[user]
	name = Ciro Santilli
	email = ciro.santilli@gmail.com
