# This file controls the GNU readline utility,
# which Bash and other GNU programs use to offer common REPL convenience.
# https://wiki.archlinux.org/index.php/Readline

# By default EMACS-like shortcuts are provided.
# Use vi instead.
# https://unix.stackexchange.com/questions/4870/is-it-possible-to-have-vim-key-bindings-in-terminal
set editing-mode vi
set keymap vi

# http://stackoverflow.com/questions/7179642/how-can-i-make-bash-tab-completion-behave-like-vim-tab-completion
# http://unix.stackexchange.com/questions/24419/terminal-autocomplete-cycle-through-suggestions
# But it misses http://stackoverflow.com/questions/7179642/how-can-i-make-bash-tab-completion-behave-like-vim-tab-completion#comment8629200_7179810
#bind TAB:menu-complete

# Alt + digit.
#http://stackoverflow.com/questions/562115/press-alt-numeric-in-bash-and-you-get-arg-numeric-what-is-that
