snippet ciro
	https://cirosantilli.com/cirodown#
snippet cirox
	https://cirosantilli.com/cirodown#`substitute(tolower(@+), '[^a-z0-9_]\+', '-', 'g')`
snippet lkmc
	https://cirosantilli.com/linux-kernel-module-cheat#
snippet lkmcx
	https://cirosantilli.com/linux-kernel-module-cheat#`substitute(tolower(@+), '[^a-z0-9_]\+', '-', 'g')`
