# Conventions:
# Anchor to Self.
snippet as
	<a href="${1}">${1}</a>
snippet c
	<code>${1}</code>
snippet d
	<div>
		${1}
	</div>
snippet ol
	<ol>
		<li>${1}</li>
		<li></li>
	</ol>
snippet s
	<script>
		${1}
	</script>
snippet uli
	<ul>
		<li>${1}</li>
	</ul>
